@import url("satoshi.css");

footer {
    background-color: white;
    padding-bottom: 60px;
  }
  
  .contact-header {
    font-family: "Satoshi-Black";
    color: #574283;
    font-size: 58px;
    text-align: center;
    padding-top: 40px;
  }
  
  .footer-card {
    width: 327px;
    padding-top: 4rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .profile-picture-footer {
    border-radius: 50%;
    padding-right: 0.5em;
  }
  
  .p-footer {
    font-family: "Satoshi-Black";
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 68px;
  
  }
  
  .social-media-links-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  }

@media(min-width: 744px) {

    footer {
      padding-top: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .contact-header {
      font-size: 120px;
      color: #675673;
    }
    
  .footer-card {
  display: grid;
  gap: 29px;
  width: 500px;
  }

.name-wrapper {
  grid-column-start: 2;
  align-self: center;
}

    .contact-info {
      text-align: center;
      margin-bottom: 175px;
      margin-top: 120px;
    }
    
    .p-footer {
      grid-row-start: 2;
      grid-column-start: 2;
    }
    
    .social-media-links-footer {
      grid-row-start: 3;
      grid-column-start: 2;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 140px;
    }
    
    }

    @media(min-width: 1280px) {
      .footer-card {
        width: 620px;
        }
      }