.view-demo-link,
.view-code-link,
.words-button {
  font-family: 'Satoshi-Medium';
  font-size: 20px;
  width: 164px;
  height: 48px;
  background: #f5f5f5;
  border-radius: 40px;
  border: 0px;
}

.view-code-link {
  width: 200px;
}

.icon {
  width: 48px;
}

button {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 4px;
}

a:visited {
  color: black;
}

.view-demo-link:hover {
  background: #137565;
  color: white;
}

.view-code-link:hover {
  background: #824c5b;
  color: white;
}

.view-demo-link:hover img,
.view-code-link:hover img {
  filter: invert(100%);
}
