
.skills-header {
  font-family: "Satoshi-Bold";
  font-size: 80px;
  color: #824C5B;
  text-align: center;
  margin-bottom: 90px;
}

.skills-list {
    width: 327px;
    margin: auto;
  }

  .skills-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #FCF5E8;
    padding-top: 80px;
    padding-bottom: 120px;
  }
  
  .skills-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .code,
  .toolbox,
  .more,
  .upcoming {
    display: flex;
    flex-direction: column;
  }
  
  
  .skills-list > div h3 {
    font-family: "Satoshi-Bold";
    font-size: 24px;
    line-height: 32px;
    align-self: center;
    text-align: center;
    background: #137565;
    width: 65px;
    height: 36px;
    padding: 2px;
    color: #ffffff;
    margin-top: 66px
  }
  
  .skills-list > div:nth-of-type(2) h3 {
    background: #574283;
    width: 92px;
  }
  
  .skills-list > div:nth-of-type(3) h3 {
    background: #7A2420;
  }
  
  .skills-list > div:nth-of-type(4) h3 {
    background: #646875;
    width: 142px;
  }
  
  .skills-section ul {
    margin: 0px;
    padding: 0px;
  }
  
  .skills-section li {
    list-style: none;
    font-family: "EB Garamond";
    font-size: 22px;
    line-height: 32px; 
    text-align: center;
  }

  /* Tablet */

@media(min-width:744px) and (max-width:1279px) {

    .skills-section {
        height: 1059px;
        padding-bottom: 0;
      }
      
      .skills-header {
        margin: unset;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 40px;
      }
      
      .skills-list {
      width: 400px;
      display: grid;
      grid-template-columns: 183px 183px;
      gap: 60px;
      align-items: unset;
      }
      
      .code {
        grid-row-start: 1;
        grid-column-start: 1;
      }
      
      .toolbox {
        grid-column-start: 2;
      }
      
      .more {
        grid-row-start: 2;
        grid-column-start: 1;
      }
      
      .upcoming {
        grid-row-start: 2;
        grid-column-start: 2;
      }
      
      .skills-list > div h3 {
        margin-top: 0;
        align-self: unset;
      }
      
      .skills-section li {
        text-align: left;
        font-size: 22px;
        line-height: 32px;
      }
      }

/* Desktop */
@media(min-width: 1280px) {

    .skills-list {
        width: 900px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 66px;
      }
      
      .skills-section h2 {
        margin-bottom: 79px;
      }
      
      .skills-list > div h3 {
      margin-bottom: 16px;
      margin-top: 0;
      align-self: unset;
      }
      
      .skills-section li {
        text-align: left;
      }
      }
