@import url("satoshi.css");

.tech-wrapper {
    width: 327px;
    margin: auto;
}

.tech {
    background-color: #F0F3FC;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.h2-tech {
    font-family: "Satoshi-Bold";
    font-size: 80px;
    color: #574283;
    margin-bottom: 2rem;
}

.red-mark {
    background-color: #7A2420;
    color: white;
}

.green-mark {
    background-color: #137565;
    color: white;
}

.purple-mark {
    background-color: #574283;
    color: white;
}

@media(min-width:744px) and (max-width:1279px) {
    .tech-wrapper {
        width: 500px;
    }
}

@media(min-width: 1280px) {

    .tech-wrapper {
        display: flex;
        flex-direction: row;
        gap: 140px;
        width: 820px;
    }
}