@import url('satoshi.css');

.red-mark {
  background-color: #7a2420;
  color: white;
}

.green-mark {
  background-color: #137565;
  color: white;
}

.purple-mark {
  background-color: #574283;
  color: white;
}
