.words-section-wrapper {
    width: 327px;
    margin: auto;
  }
  
.words-section {
    background-color: #F4F1FE;
    padding-top: 85px;
    padding-bottom: 85px;
  }
  
  .words-section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 98px;
  }
  
  .words-h2 {
    font-family: "Satoshi-Bold";
    font-size: 72px;
    margin-bottom: 6rem;
    color: #574283;
    text-align: center;
  }

  .words-h3 {
    margin-bottom: 0;
  }
  
  .words-article {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .words-image {
  height: 340px;
  width: 327px;
  object-fit: cover;
  }
  
  .date-tag {
    font-family: "Satoshi-Black";
    color: #574283;
    font-size: 20px;
    margin-bottom: 6px;
  }
  
  .words-button {
    width: 178px;
    background: #ffffff;  
  }
  
  .words-h4 {
    font-family: "Satoshi-Black";
    font-size: 32px;
    line-height: 38px;
  }
  
  .button-link {
    text-decoration: none;
  }
  
  .words-button:hover {
    background: #574283;
    color: white;
  }
  
  .words-button:hover img {
    filter: brightness(100);
  }
  
  /* Tablet */

@media(min-width:744px) and (max-width:1279px) {
    
.words-section-wrapper {
    width: 564px;
  }
  
  .words-image {
    display: block;
    width: 564px;
    max-height: 100%;
  }
  
  .section-wrapper {
    width: 500px;
  }
  
  
  .article-image {
    max-width: 184px;
    height: 100%;
    object-fit: cover;
  }
}  

@media(min-width: 1280px) {


    .words-h2 {
        text-align: unset;
        width: 1112px;
        margin: auto;
        margin-bottom: 60px;
      }
    
      .words-section-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        width: 1112px;
        gap: 32px;
      }
      
      .words-image {
        display: block;
        width: 540px;
        max-height: 100%;
      }
    
      .words-article {
        margin-bottom: 60px;
        width: 540px;
      }
      

}

@media(min-width: 1512px) {

    .words-section-wrapper {
      width: 1226px;
      justify-content: space-between;
    }
    
    .words-h2 {
      width: 1226px;
    }
    
    .words-article {
      width: 540px;
    }
    }
    